.heading{
    font-size: 60px;
    letter-spacing: 4px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 20px;
}
body{
    background-color: beige;
}
.note{
    font-size: 24px;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  border-color: cornflowerblue;
}
